
**/target/
**/*.rs.bk
cargo-test-*
tarpaulin-report.html

# Cargo
Cargo.lock
debug/
target/
**/target/
**/*.rs.bk

# rustfmt
**/*.rs.bk

# IDE
.idea
.vscode
.zed

# macOS
.DS_Store
._*

# Example Certificates
localhost-key.pem
localhost.crt
localhost.key
localhost.pem
DATA.md
AGENTS.md
.agents/
